<web-app>
    <!-- Servlet configuration -->
  <servlet>
     <servlet-name>html</servlet-name>
     <servlet-class>com.nt.servlet.HtmlServlet</servlet-class>
  </servlet>
<!-- Servlet mapping -->
  <servlet-mapping>
      <servlet-name>html</servlet-name>
	  <url-pattern>/htmlurl</url-pattern>
  </servlet-mapping>

    <!-- Servlet configuration -->
  <servlet>
     <servlet-name>exel</servlet-name>
     <servlet-class>com.nt.servlet.ExelServlet</servlet-class>
  </servlet>
<!-- Servlet mapping -->
  <servlet-mapping>
      <servlet-name>exel</servlet-name>
	  <url-pattern>/exelurl</url-pattern>
  </servlet-mapping>

<!-- Servlet configuration -->
  <servlet>
     <servlet-name>word</servlet-name>
     <servlet-class>com.nt.servlet.WordServlet</servlet-class>
  </servlet>
<!-- Servlet mapping -->
  <servlet-mapping>
      <servlet-name>word</servlet-name>
	  <url-pattern>/wordurl</url-pattern>
  </servlet-mapping>

<!-- Servlet configuration -->
  <servlet>
     <servlet-name>xml</servlet-name>
     <servlet-class>com.nt.servlet.XmlServlet</servlet-class>
  </servlet>
<!-- Servlet mapping -->
  <servlet-mapping>
      <servlet-name>xml</servlet-name>
	  <url-pattern>/xmlurl</url-pattern>
  </servlet-mapping>

<!-- Servlet configuration -->
  <servlet>
     <servlet-name>plain</servlet-name>
     <servlet-class>com.nt.servlet.PlainServlet</servlet-class>
  </servlet>
<!-- Servlet mapping -->
  <servlet-mapping>
      <servlet-name>plain</servlet-name>
	  <url-pattern>/plainurl</url-pattern>
  </servlet-mapping>
</web-app>