<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
          xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
          id="WebApp_ID" 
          version="4.0">
          
          <servlet>
                 <servlet-name>Eligibility</servlet-name>
                 <servlet-class>com.nt.servlet.EligibleForMarriage</servlet-class>
          </servlet>
          
          <servlet-mapping>
                 <servlet-name>Eligibility</servlet-name>
                 <url-pattern>/marriageurl"</url-pattern>
          </servlet-mapping>
          
 </web-app>